*{
    margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: "Inter", sans-serif;
 
}
.header{
    background-color: black;
    padding: 20px 20px 20px 50px;
    border-radius: 0px 0px 40px 40px;
}
.header .links a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.home{
    padding: 70px 0px 0px 200px;
    justify-content: space-between;
    
}
.home .post img{
    width: 485px;
    border: 1px solid #0000008c ;
    border-radius: 20px;
}
.home span{
    position: absolute;
    right: 700px;
    top: 150px;
}
.home .button{
    background-color: #0995EC;
    position: absolute;
    top: 200px;
    right: 460px;
    border-radius: 20px;
    font-size: 30px;
    padding: 5px 90px 5px 100px;
}
.home .button2{
    background-color: #000000;
    color: white;
    position: absolute;
    text-decoration: none;
    top: 300px;
    right: 450px;
    border-radius: 20px;
    font-size: 30px;
    padding: 5px 80px 5px 80px;
}
.home .step{
    position: relative;
    left: 250px;
    bottom: 350px;
}
.home .step .s{
    position: absolute;
    top: 100px;
    right: 800px;
    font-size: x-large;
}
.te{
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 10px;
    
    
}
.re{
    position: relative;
    bottom: 100px;
   
}
.photos img{
    width: 400px;
    border-radius: 20px;
}
.photos{
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    position: relative;
    justify-content:space-between ;
    padding: 30px;
    border-radius: 20px;
    top: 400px;
}
@media  (max-width: 480px){
    .header{
        background-color: black;
        padding: 20px 20px 20px 50px;
        border-radius: 0px 0px 40px 40px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        width: 480px;
    }
    .header .links a{
        text-decoration: none;
        color: white;
        
    }
    .home{
        padding: 70px 0px 0px 80px;
        justify-content: space-between;
        
    }
    .home .post img{
        width: 300px;
        border: 1px solid #0000008c ;
        border-radius: 20px;
    }
    .home span{
        position: absolute;

    }
    .home .button{
        background-color: #0995EC;
        position: absolute;
        left: 100px;
        border-radius: 20px;
        font-size: 20px;
        padding: 5px 120px 5px 70px;
    }
    .home .button2{
        background-color: #000000;
        color: white;
        position: absolute;
        text-decoration: none;
        top: 300px;
        left: 100px;
        border-radius: 20px;
        font-size: 20px;
        padding: 5px 100px 5px 80px;
    }
    .home .buttons{
        position: relative;
        bottom: 100px;
        right: 25px;
    }

    .photos img{
        width: 100px;
        border-radius: 20px;
    }
    .photos{
        background-color: #1F1F1F;
        display: flex;
        align-items: center;
        position: relative;
        justify-content:space-between ;
        padding: 30px;
        border-radius: 20px;
        top: 400px;
    }
}